.content_area {
  background-color: #FFF;
  @include box-shadow(rgba(0,0,0,0.1), 1px, 1px, 3px);
  margin-bottom: 5px;
}

.content_area {
  h1 {
    padding: 20px;
  }
  h2 {
    border-bottom: 1px solid #ddd;
    padding: 20px 20px;
  }
  .wrapper {
    padding: 0 20px;
  }
}