#pot {
  height: 300px;
  width: 150px;
  background-color: #FFF;
  margin: auto;
  margin-top: 20px;
  position: relative;
  border: 1px solid #ddd;
  @include border-radius;
  overflow: hidden;
  @include box-shadow(#ddd, 0, 0, 20px, false, inset);
  #contents {
    position: absolute;
    bottom: 0px;
    height: 100px;
    background-color: #77bbcc;
    width: 150px;
    @include box-shadow(darken(#77bbcc, 20%), 0, -10px, 20px, false, inset);
    @include border-bottom-radius;
    border-top: 2px solid lighten(#77bbcc, 20%);
    .amount {
      color: lighten(#77bbcc, 35%);
      @include text-shadow(darken(#77bbcc, 10%), 0, -1px, 1px);
      font-weight: bold;
      padding: 10px;
      text-align: center;
    }
  }
}