#wide
  .message
    %h2 Invite your team

    %p
      Send them this link:
      = link_to invite_url(:id => @team.invite_code)

#content.content_area
  %h2 Daily standups

#sidebar
  %h2{:style => "text-align: center;"} The Pot
  
  #pot
    #contents
      .amount € 50,-